*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body{
  width: 100%
  min-height: 100vh;
  background: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.caixa-insta{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.cell img{
  height: 50rem;
}

.log{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.grupo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgrey;
}

.grupo:nth-child(1){
  min-height: 19rem;
}


/*.insta-logo{
  height: 3rem;
}*/

.foto-log{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.foto-log img{
  height: 6rem;
}

.insta-login{
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.insta-logout{
  color: #0095f6;
  margin-top: 1rem;
}

.not-you{
  color: rgb(160, 160, 160);
}

.link-azul{
  color: #0095f6;
}

.baixe-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%
  padding: 1.3rem 0;
}

.baixe-app{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-baixar{
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-baixar:nth-child(1){
  background-image: url('.\img\btn-app-store.jpg');
}

.app-baixar:nth-child(2){
  background-image: url('.\img\btn-play-store.jpg');
}

/* @@media query responsividade */

@media (max-width: 1024px){
  .caixa-insta{
    width: 90%;
  }
}

@media (max-width: 650px) {
  body{
    background-color: #ffffff;
  }
  .caixa-insta{
    width: 90%;
  }
  .cell{
    display: none;
  }
  .insta-login{
    width: 100%;
  }
  .grupo{
    border: 1px solid transparent;
  }
}
